Flask==3.1.2
Flask-SQLAlchemy==3.1.1
Flask-Login==0.6.3
Flask-Migrate==4.1.0
psycopg2-binary==2.9.11
requests==2.32.3
Werkzeug==3.1.3
python-dotenv==1.1.0
# FIX A04: bcrypt for password hashing
bcrypt==4.3.0
# FIX A04: AES-256 encryption for vault passwords
cryptography==48.0.1
#added another version just to check if owasp dc detects it as vulnerability.
PyYAML==5.3.1
# Pillow==8.3.1 (Removed because it fails to compile without libjpeg-dev)
paramiko==2.0.0
Flask-WTF==1.2.1
